*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    box-sizing: border-box;
    
}

.div__abaixo__body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecalho{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.cabecalho__titulo{
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 12px;
    background-color: #22d4fd;
    width: 800px;
    height: 50px;
    padding: 20px;
    gap: 50px;
    font-size: 40px;
    box-shadow: 3px 3px 4px gray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.principal{
    display: flex;
    justify-content: center;
    flex: 1;
}

.agenda__div__principal{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-direction: row;
    border: 2px solid;
    border-radius: 12px;
    width: 800px;
    padding: 20px;
    box-shadow: 3px 3px 4px gray;

}

.agenda__primeiro__div{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.agenda__segundo__div{

    display: flex;
    flex-direction: column;
    gap: 10px;

}
.agenda__div__busca{
    display: flex;
    border: 2px solid #22d4fd;
    border-radius: 5px;
    margin-top: -20px;
    /*width: 200px;*/
    justify-content: space-between;
}

.inputBusca{
    border: none;
    border-radius: 5px;
    outline: none;
}

.paragrafoBusca{
    margin-top: -20px;
    width: 200px;
}

.agenda__formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.agenda__formulario__campo{
    display: flex;
    flex-direction: column;
}

.agenda__formulario__campo__input{
    border-radius: 5px;
    border: 3px solid #22dafd;
    box-shadow: 2px 3px 4px gray;
}

.lista{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 7px;
}

.lista__contato{
    background-color: black;
   /* width: 300px;*/
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    text-align: center;
    box-shadow: 3px 3px 4px gray;
}

.lista__contato__dado{
    background-color: #22d4fd;
    border: 1px solid #000000;
    padding: 2px;
    text-align: left;
    border-radius: 3px;
    font-size: 14px;
}

.botoes{
    width: 125px;    
}

.lista__Busca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.botoes__atualiza_exclui{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1px;
}

.paragrafoAtualizar{
    width: 230px;
    text-align: justify; 
    display: none;
    
}

.footer{
    background-color: #22d4fd;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    border: solid 1px black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@media screen and (max-width: 768px){
    .div__abaixo__body{
        display: block;
        
    }
    .cabecalho__titulo{
        width: 70vw;
        font-size: large;
        height: 5vh;
    }
    .agenda__div__principal{
        display: block;
        width: 70vw;
    }

    .agenda__primeiro__div{
        width: 70vw;
    }
    .agenda__segundo__div{
        margin-top: 30px;
        width: 70vw;
    }

    .agenda__div__busca{
        /*width: 59.8vw;*/
        margin-top: -40px ;
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
        
    }
    .paragrafoBusca{
        margin-top: -40px;
        margin-right: auto;
        margin-right: auto;
        width: auto;
        /*font-size: 5vw;*/
        
    }
    .inputBusca{
        width: 100px;
    }
    .lista__contato__dado{
        /*font-size: 5vw;*/
        width: auto;
    }
    .footer{
        padding: 12px;
        font-size: 15px;
        padding-bottom: 0px;

    }
    .paragrafoAtualizar{
        /*font-size: 5vw;*/
        width: auto;
    }
}